/* Fonts */
@font-face {
    font-family: 'bodyFont';
    src: url('font/Novecentosanswide-Light-webfont.woff2') format('woff2'),
        url('font/Novecentosanswide-Light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'tabFont';
    src: url('font/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'),
        url('font/Novecentosanswide-DemiBold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'titleFont';
    src: url('font/Novecentosanswide-Bold-webfont.woff2') format('woff2'),
        url('font/Novecentosanswide-Bold-webfont.woff') format('woff');
}

body {
    font-family: "bodyFont";
    color: white;
    scroll-behavior: smooth;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .titleFont {
    font-family: "titleFont";
    /* text-align: center; */
}

html, body {
    overscroll-behavior: none;
  }
/* p {
    font-family: bodyFont;
} */

img:hover {
    opacity: 1.0;
}

.background {
    background-image: url('images/jsBg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.3);
}
  
.aboutTitle {
    /* text-align: center; */
    padding-top: 5%;
    padding-right: 3%;
    max-width: 650px;
    margin: auto;
}

.aboutContent {
    /* padding: 10vh 10vw; */
    max-width: 650px;
    margin: auto;
}
  



/* Navbar Top (header)*/
.navBar {
    background-color: transparent;
    position: fixed; /* stays above the background */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* make sure it's above everything */
}

/* .navbar-links {
    float: right;
    margin-top: 1%;
    margin-right: 3%;
} */

.navLogo {
    width: auto;
    height: 35px;
    margin-top: 1%;
    margin-left: 3%;
}

/* .instaLogo {
    width: auto;
    height: 30px;
    opacity: 0.6;
}

.msLogo {
    width: auto;
    height: 23px;
    margin-bottom: 4px;
    opacity: 0.8;
} */








/* Adjust content per smaller screen sizes */
@media screen and (max-width: 1300px) {
    .aboutTitle {
        font-size: 40px;
    }
}


 @media screen and (max-width: 800px) {
    .aboutTitle {
        max-width: 500px;
        font-size: 33px;
    }
    
    .aboutContent {
        max-width: 550px;
    }

    .navLogo {
        height: 25px;
    }
}

@media screen and (max-width: 400px) {
    .aboutTitle {
        max-width: 250px;
        font-size: 23px;
    }
    
    .aboutContent {
        max-width: 250px;
    }
    
    .navLogo {
        height: 15px;
    }
}

@media screen and (max-width: 350px) {
   
}









